<div class="container">
  <div class="row">
    <h1>File Upload</h1>
  </div>
  <div class="row">
    <input type="file" (change)="onFileSelected($event)">
    <button type="button" (click)="onUpload()">Upload file</button>
  </div>
</div>